body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

i {
  font-size: 50px;
}

.date {
  vertical-align: middle;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  position: fixed;
  width: 100vw;
  padding: 10px 0;
  background-color: #00294e;
}

.footer {
  width: 100vw;
  height: 40px;
  padding: 10px 0;
  /* background-color: #516576; */
  background-color: #0d3457;
  position: absolute;
  bottom: 0;
}

.navbar i {
  color: white;
}

.toCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr 1fr;
  /* color: #516576; */
}

.firstRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 289px;
  max-height: 289px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.secondRow {
  grid-column-start: 1;
  grid-column-end: 3;
}

.toggleList{
  margin: 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.toggleList:active {
  box-shadow: none;
}

.user-list {
  border: solid black 1px;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.user-list td, .user-list th{
  padding: 5px 10px;
  border: 1px solid #dedddc;
  /* background-color: #eeee; */
  background-color: white;
}

.signup {
  padding: 50px 20px;
  width: 300px;
  margin: 0 auto;
  /* background-color: #CDE3E0; */
  background-color: #ebebeb;
  border-radius: 15px;
  color: #00294e;
}

.signup div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.signup button {
  margin: 5px auto;
}

.NavMenu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #eeee;
  padding: 20px;
  gap: 20px;
}

.MenuBtn {
  box-shadow: 2px 5px #888888;
  background-color: white;
  padding: 20px 30px;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  color: #516576;
}

.MenuBtn i {
  /* color: #aa0b3c; */
  color: #516576;
  /* color: #888888; */
}

.MenuBtn:active {
  box-shadow: 0px 0px #888888;
  /* background-color: #a6a5a4; */
  background-color: grey;
}

.MenuBtn:hover {
  /* box-shadow: 0px 0px #888888; */
  /* background-color: #faf7f5; */
  /* color: white; */
}

.MenuBtn i:hover {
  /* color: #aa0b3c; */
}

.AccountInfo {
  padding: 20px;
  background-color: rgba(255,255,255, 1);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info1 {
  height: 60%;
  font-size: 35px;
  margin-bottom: 20px;
}

.info2 {
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: flex-end;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.modalWindow {
  border-radius: 25px;
  height: 200px;
  padding: 50px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.delete {
  width: 20px;
}

.delete i {
  font-size: 20px;
  /* color: #f44336; */
  color: #516576;
}

.visa i{
  font-size: 45px;
  color: #00294e
}

.addExpense {
  width: 120px;
  margin: 25px auto;
}

.addExpense button {
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.addExpense button:active {
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 0px 0 rgba(0,0,0,0.19);
}

.signout {
  color: #f44336;
}

.yesOrNo {
  display: flex;
  width: 175px;
  margin: 30px auto;
  justify-content: space-around;
}

input {
  border: #a6a6a6 solid 1px;
  border-radius: 5px;
  padding: 5px;
}

.errorMsg {
  color: #ff0000;
}

.modalSubmitBtn {
  width: 60px;
  margin: 20px auto;
}

.sendMoneyToCenter {
  width: 207px;
    margin: 23px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.modalInputToCenter {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.signUpBtn {
  color: #00294e;
}

.loginBtn {
  background-color: #00294e;
  border: none;
  padding: 5px 20px;
  color: white;
  border-radius: 5px;
}

.insufficientFunds {
  padding: 0 60px;
  color: red;
  font-size: 25px;
}

.generalBtn {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.generalBtn:active {
  background-color: grey;
  color: white;
}

.navbar i {
  padding: 0 10px;
}

.whiteBtn {
  border: #00294e solid 1.5px;
  /* border: none; */
  padding: 5px 20px;
  background-color: white;
  color: #00294e;
  border-radius: 5px;
}

.signUpBtns {
  width: 213px;
  margin: 20px auto;
}

.edit {
  width: 20px;
}

.edit i {
  font-size: 20px;
  /* color: orange; */
  color: #516576;
}

.edit i:active {
  color: blue;
}