body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

i {
  font-size: 50px;
}

.date {
  vertical-align: middle;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  position: fixed;
  /* border: black solid 1px; */
  width: 100vw;
  padding: 10px 0;
  background-color: #255E56;
}

.navbar i {
  color: white;
}

.toCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.dashboard {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: 2fr;
  grid-template-rows: 1fr 1fr;
}

.firstRow {
  display: grid;
  grid-template-columns: 1fr 1fr;

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.secondRow {
  grid-column-start: 1;
  grid-column-end: 3;
}

.toggleList{
  margin: 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.user-list {
  border: solid black 1px;
  width: 100%;
  /* height: 100%; */
  border-collapse: collapse;
  /* margin: 0 auto; */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.user-list td, .user-list th{
  padding: 0 10px;
  border: 1px solid white;
  background-color: #eeee;
}

.signup {
  padding: 50px 20px;
  width: 300px;
  margin: 0 auto;
  /* border: 1px solid black; */
  background-color: #CDE3E0;
  border-radius: 15px;
  color: #255E56;
}

.signup div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.signup button {
  margin: 5px auto;
  /* width: */
}

.NavMenu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* border: solid black 1px; */
  background-color: #eeee;
  /* width: 50%; */
  padding: 20px;
  gap: 20px;
}

.MenuBtn {
  /* border: 1px solid black; */
  box-shadow: 2px 5px #888888;
  background-color: white;
  padding: 20px 30px;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
}

.MenuBtn i {
  /* color: #666464; */
  color: #255E56;
}

.MenuBtn:active {
  /* box-shadow: -2px -5px #888888; */
  box-shadow: 0px 0px #888888;
  background-color: #a6a5a4;
}

.AccountInfo {
  /* border: solid black 1px; */
  /* background-color: #76D3DE; */
  /* width: 40%; */
  padding: 20px;
  /* height: 100%; */
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info1 {
  /* flex-grow: 3;
  flex-shrink: 3; */
  height: 60%;
  /* border: solid black 1px; */
  font-size: 35px;
  margin-bottom: 20px;
}

.info2 {
  display: flex;
  flex-direction: column;
  height: 30%;
  /* border: solid black 1px; */
  justify-content: flex-end;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.modalWindow {
  /* border: 1px solid black; */
  border-radius: 25px;
  height: 200px;
  padding: 50px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.delete {
  width: 20px;
}

.delete i {
  font-size: 20px;
  color: #f44336;
}

.visa i{
  font-size: 45px;
  color: #255E56
}

.addExpense {
  width: 120px;
  margin: 25px auto;
}

.addExpense button {
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.addExpense button:active {
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2), 0 0px 0px 0 rgba(0,0,0,0.19);
}

.signout {
  color: #f44336;
}

.yesOrNo {
  display: flex;
    width: 114px;
    /* border: solid black 1px; */
    margin: 30px auto;
    justify-content: space-around;
}

input {
  border: #a6a6a6 solid 1px;
  border-radius: 5px;
  padding: 5px;
}

.errorMsg {
  color: #ff0000;
}

.modalSubmitBtn {
  width: 60px;
  margin: 20px auto;
}

.sendMoneyToCenter {
  width: 150px;
  margin: 20px auto 0 auto;
}

.modalInputToCenter {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.signUpBtn {
  color: #255E56;
}

.loginBtn {
  background-color: #255E57;
  border: none;
  padding: 5px 20px;
  color: white;
  border-radius: 5px;
}